a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,footer{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,ol{
    list-style-type: none;
}




.container_footer{
    width: 100vw;
    /* max-width: 1200px; */
    margin: 10 auto;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(244, 171, 147);
    padding: 2rem 0;
    text-align: center;
    color: black;
    align-items: center;
}


.imagen{
    display: flex;
    gap: 1rem;
    font-size: 1.6em;
}